.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

.centered {
	text-align: center;
}

.separator {
	display: block;
	width: 100%;
	height: 1px;
	background-color: lighten(black,80);
	margin: 50px 0;
}